In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv(r'C:\Users\shashank s\Downloads\tabular-playground-series-jan-2021\train.csv')
test=pd.read_csv(r'C:\Users\shashank s\Downloads\tabular-playground-series-jan-2021\test.csv')
test_ids=test["id"]

In [3]:
train.head()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
0,1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
1,3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
2,4,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
3,5,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
4,8,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046

In [4]:
def clean(data):
    data=data.drop(['id'],axis=1)
    return data

train=clean(train)
test=clean(test)

In [7]:
train.columns

Index(['cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8',
       'cont9', 'cont10', 'cont11', 'cont12', 'cont13', 'cont14', 'target'],
      dtype='object')

In [8]:
train.replace("?", np.nan)

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
0,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
1,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
2,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
3,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
4,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0.216974,0.735265,0.648648,0.255387,0.616353,0.345197,0.295718,0.304357,0.314351,0.860504,0.315397,0.247682,0.486542,0.288750,7.385215
299996,0.545799,0.165139,0.220966,0.190053,0.359362,0.386336,0.365767,0.344217,0.466446,0.454581,0.360251,0.360755,0.292535,0.619984,7.242617
299997,0.284401,0.841542,0.957585,0.340383,0.396279,0.330376,0.525687,0.260039,0.378174,0.526925,0.491735,0.516629,0.173521,0.714552,9.592487
299998,0.481900,0.622346,0.540032,0.823118,0.283066,0.434283,0.174342,0.710843,0.358690,0.648272,0.984647,1.001110,0.063956,0.377693,8.207951
299999,0.486632,0.230090,0.543587,0.263878,0.279118,0.636295,0.472391,0.339654,0.444787,0.636765,0.782196,0.559692,0.762954,0.215539,8.890285

In [9]:
train.isnull().sum()

cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
cont14    0
target    0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [11]:
x=train.drop(['target'], axis=1)
y=train['target']

In [12]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
scaler= StandardScaler()

In [14]:
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [15]:
#Building the neural network model

model=Sequential()
model.add(Dense(128, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

In [16]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [17]:
model.fit(x_train, y_train, epochs=10, batch_size=32, validation_data=(x_test, y_test))

Epoch 1/10
7500/7500 [==============================] - 19s 2ms/step - loss: 0.8164 - val_loss: 0.5593
Epoch 2/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5384 - val_loss: 0.5222
Epoch 3/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5324 - val_loss: 0.5258
Epoch 4/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5304 - val_loss: 0.5208
Epoch 5/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5270 - val_loss: 0.5136
Epoch 6/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5246 - val_loss: 0.5219
Epoch 7/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5231 - val_loss: 0.5147
Epoch 8/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5217 - val_loss: 0.5269
Epoch 9/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5203 - val_loss: 0.5094
Epoch 10/10
7500/7500 [==============================] - 17s 2ms/step - loss: 0.5192 - val_loss: 0.5110

In [18]:
y_pred=model.predict(x_test)

1875/1875 [==============================] - 3s 2ms/step

In [19]:
mse=mean_squared_error(y_test, y_pred)

In [20]:
print(f' Mean Squared Error on Validation set: {mse}')

 Mean Squared Error on Validation set: 0.5109671733033309

In [21]:
test_predictions=model.predict(test)

6250/6250 [==============================] - 10s 2ms/step

In [23]:
df=pd.DataFrame({"id":test_ids.values,
                "target":test_predictions.flatten()
                })

In [29]:
df.to_csv("submission1.csv", index=False)

In [30]:
import os

In [31]:
c=os.getcwd()
print(c)

C:\Users\shashank s